@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply mx-auto px-4 border-0 font-bold py-2 rounded-xl;

  }
  .btn-highlight {
    @apply bg-highlight border-highlight;
    & > * {
      @apply text-white;
    }
  }
  .btn-highlight-dark {
    @apply bg-highlight-dark border-highlight-dark;
    & > * {
      @apply text-white;
    }
  }
  .btn-highlight-light {
    @apply bg-highlight-light border-highlight-light;
  }
  .btn-outline {
    @apply bg-transparent border-2;
  }
  .btn-transparent {
    @apply bg-transparent border-0;
  }

  .btn-icon {
    @apply flex items-center justify-center rounded-full;
    width: 3rem;
    height: 3rem;
    & > * {
      @apply h-2 mx-auto text-center p-0 m-0;
      line-height: 0;
      
    }
  }
  
  .btn-fill {
    @apply flex items-center justify-center w-5/6
  }
  .btn-fit {
    @apply flex items-center justify-center w-fit
  }

  /* példa: className="button btn-primary btn-outline" */

  .text-input {
    @apply rounded-full mb-1 p-4 w-3/4 text-left font-semibold dark:text-background
  }
  .input-container {
    @apply m-2  w-11/12 gap-x-2 flex justify-between  mx-auto
  }
  .input-body {
    @apply flex flex-row justify-start items-center secondary relative rounded-xl border 
  }

  .post-container {
    @apply flex flex-col w-full   shadow-md my-2
  }
  .post-header {
    @apply flex flex-row bg-backdrop-primary rounded-t-xl dark:bg-backdrop-primary-dark items-center w-full p-2
  }
  .post-image {
    @apply py-2 bg-background dark:bg-background-dark aspect-square mx-auto
  }
  .post-footer {
    @apply flex flex-col w-full h-fit
  }
  .post-reaction-container {
    @apply py-2 px-4 w-full flex dark:bg-backdrop-primary-dark bg-backdrop-primary flex-row justify-between
  }
  .post-data-container {
    @apply basis-5/12 flex flex-col items-end gap-2 justify-evenly
  }
  .post-comment-container {
    @apply flex flex-row py-2 px-4 rounded-b-xl dark:bg-backdrop-secondary-dark bg-backdrop-secondary items-center justify-between
  }
  .post-comment-input {
    @apply h-12 p-0 gap-2 flex flex-row items-center rounded-xl justify-center bg-backdrop-primary dark:bg-backdrop-primary-dark
  }
  .post-comment-input-trigger {
    @apply h-12 primary flex items-start px-2 justify-center rounded-xl
  }

  .root-header-ios {
    @apply pt-16 pb-4  w-screen primary flex items-center px-3 flex-row gap-2
  }
  .root-header-android {
    @apply pt-7 pb-4 w-screen primary flex items-center px-3 flex-row gap-2

  }
  .root-comment-empty-container {
    @apply flex opacity-50 justify-center flex-col items-center mt-4
  }
  .comment {
    @apply  primary w-full py-2 px-4 flex flex-col items-start gap-2 justify-between
  }
  .comment-header {
    @apply flex flex-row items-center  justify-center gap-1
  }
  .comment-avatar {
    @apply basis-2/12 flex justify-center items-center
  }
  .comment-user {
    @apply flex flex-col items-start justify-center
  }
  .comment-body {
    @apply flex flex-col self-end
  }
  .comment-reply-line-container {
    @apply basis-2/12 flex h-auto  items-center justify-center
    
  }
  .comment-reply-line {
    @apply w-1 h-full secondary px-1 my-5 flex-1 rounded-full mx-auto
  }
  .comment-text-body {
    @apply basis-10/12 flex flex-col
  }
  .comment-reactions {
    @apply flex flex-row mt-2 gap-2
  }
  .reply {
    @apply primary w-full mt-2 gap-2 flex flex-col items-start justify-between
  }
  .reply-avatar {
    @apply flex flex-row items-center 
  }

  .new-post-image-upload-prompt {
    @apply w-full h-full opacity-40 flex justify-center items-center
  }
  .new-post-pop-image {
    @apply bg-highlight z-50 rounded-full opacity-40 w-14 h-14 flex justify-center items-center m-3 absolute bottom-0
  }
  .new-post-gallery-opener {
    @apply my-2 secondary py-4 bg-highlight-light dark:bg-highlight-dark text-center w-11/12 flex flex-row items-center justify-between px-6 rounded-xl
  }
  .post-image-index {
    @apply px-3 z-50 py-1 font-semibold left-4 top-4 absolute primary rounded-xl
  }
} 
@layer base {
  .secondary {
    @apply bg-backdrop-secondary dark:bg-backdrop-secondary-dark
  }
  .primary {
    @apply bg-backdrop-primary dark:bg-backdrop-primary-dark
  }
  .background {
    @apply bg-background dark:bg-background-dark
  }
  .highlight {
    @apply bg-highlight-light dark:bg-highlight
  }
  .highlight-dark {
    @apply bg-highlight-dark dark:bg-highlight-dark
  }
  .highlight-light {
    @apply bg-highlight-light dark:bg-highlight-light
  }
  .highlight-themed {
    @apply bg-highlight-light dark:bg-highlight-dark
  }
}
